@import "../utils/variables";

.groups-list {
    list-style: none;
    margin-top: 50px;

    a {
        color: $dark;
    }

    .list-element {
        padding: 20px 40px;
        transition: all 300ms;

        &:hover {
            box-shadow: inset 10px 0 0 0 $main-color;
        }

        &:first-child {
            border-top: 1px solid $light-border;
        }

        &:last-child {
            border-bottom: 1px solid $light-border;
        }

        + .list-element {
            border-top: 1px solid $light-border;
        }
    }
}
