@import "./breakpoints";

@mixin screen-size($device) {
    @media screen and (min-width: map-get($breakpoints, $device)) {
        @content;
    }
}

@mixin card {
    border: 1px solid $light-border;
    border-radius: 10px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 40px 10px;
    margin: 0 auto;

    &:hover {
        box-shadow: 0 8px 20px rgb(255 0 0 / 30%);
        transform: translateY(-7px);
        transition: all 500ms;
    }
}

@mixin grid-list {
    display: grid;
    gap: 30px;
    margin-top: 50px;
    // margin: 0 auto;
    grid-template-columns: auto;
    @include screen-size(md) {
        grid-template-columns: auto auto;
    }
    @include screen-size(lg) {
        grid-template-columns: auto auto auto;
    }
}
