$light: white;
$dark: #555;
$third-color: darkred;
$light-contrast: #888;
$light-border: #dddddd;
$dark-contrast: black;

$font-family: sans-serif;
$font-style: normal;
$font-size: 18px;
$letter-spacing: 0.2px;

$dark-btn: $dark-contrast;
