@import "../utils/mixins";
@import "../utils/variables";

.employee-name {
    color: $dark;
    font-size: 24px;
    @include screen-size(md) {
        font-size: 32px;
    }
    @include screen-size(lg) {
        font-size: 38px;
    }

    &--thumbnail {
        @extend .employee-name;
        font-size: 15px;
        padding: 10px;
        @include screen-size(md) {
            font-size: 18px;
        }
        @include screen-size(lg) {
            font-size: 20px;
        }
    }
}

.employee-title--thumbnail {
    color: $dark-contrast;
    font-weight: lighter;
    font-size: 15px;
    padding: 5px 10px;
    @include screen-size(md) {
        font-size: 18px;
    }
    @include screen-size(lg) {
        font-size: 20px;
    }
}

.employee-card {
    @include card;
    display: flex;
    gap: 20px;
    justify-content: left;

    .employee-thumbnail {
        border-radius: 50%;
    }
}

.employee {
    padding: 40px 0px;
    text-align: center;

    .employee-picture {
        border-bottom: 5px solid $third-color;
        border-radius: 5px;
        margin-bottom: 50px;
    }

    .employee-info-list {
        border: 1px solid $light-border;
        border-radius: 10px;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        width: 100%;
        padding: 40px 25px;
        margin: 0 auto;
        @include screen-size(md) {
            width: 500px;
            padding: 50px 40px;
        }

        .employee-header {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-bottom: 40px;
            @include screen-size(md) {
                flex-direction: row;
                justify-content: space-between;
            }

            .employee-actions {
                display: flex;
                gap: 40px;
                align-items: center;
                @include screen-size(md) {
                    gap: 20px;
                }

                img {
                    height: 25px;
                    cursor: pointer;
                }
            }
        }

        dl {
            display: grid;
            grid-template-columns: auto auto;

            dt {
                color: $dark;
                padding: 10px;
            }

            dd {
                color: $dark-contrast;
                font-weight: lighter;
                padding: 5px 10px;
            }
        }
    }
}
