@import "../utils/variables";

.loading {
    border: 16px solid $light-border;
    border-top: 16px solid $main-color;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 100px auto 0;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
