@import "../utils/mixins";
@import "../utils/variables";

.page-title {
    background: linear-gradient(to right, $dark, $third-color 150%);
    color: $light;
    font-size: 32px;
    text-align: center;
    width: fit-content;
    padding: 12px 40px;
    border-radius: 0px 12px 0px 12px;
    @include screen-size(md) {
        font-size: 44px;
    }
    @include screen-size(lg) {
        font-size: 48px;
    }
}
